/vendor/
/node_modules/
npm-debug.log
yarn-error.log

# Laravel Specific
bootstrap/compiled.php
app/storage/
/storage/pail
storage/*.key
*.log

# Public & Storage Links
/public/storage
/public/hot
/public/build
public_html/storage
public_html/hot

# Environment & Credentials
.env
.env.backup
.env.production
auth.json

# Development Tools & IDEs
/.fleet
/.idea
/.nova
/.phpunit.cache
/.phpunit.result.cache
/.vagrant
/.vscode
/.zed
.DS_Store
Thumbs.db
Homestead.yaml
Homestead.json
.phpactor.json
_ide_helper.php